.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: purple;
    height: 100%;
    padding: 5px;
}

.titulo{
    grid-column: 1 / -1;
    background-color: darkkhaki;
    border: 2px solid black;
    margin: 5px;
}

.publi{
    grid-column: 1 / 2;
    grid-row: 2/ 4;
    background-color: rgb(32, 218, 177);
    border: 2px solid black;
    margin: 5px;

}


.section{
    grid-column: 2 / 4;
    background-color: rgb(72, 32, 218);
    border: 2px solid black;
    margin: 5px;
}



.contenedorImagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    
}

.img{
    border: 2px solid black;
    text-align: center;
    height: 40px;
}







.widget1{
    grid-column: 2 / 3;
    border: 2px solid black;
    margin: 5px;
}

.widget2{
    grid-column: 3 / 4;
    border: 2px solid black;
    margin: 5px;
}

.footer{
    grid-column: 1 / -1;
    background-color: rgb(218, 32, 147);
    border: 2px solid black;
    margin: 5px;
}