

/*Primer parrafo*/

h1{
    color: teal;
}

strong{
    color: red;
}

.destacado{
    color: orange;
}

#subtitulo{
    color: blue;
    
}

a{
    color: red;
}

a>em{
    color: blue;
}

.especial{
    color: rgb(168, 35, 168);
}
/*FIN Primer parrafo*/


/*TABLA*/

table,th,td{
    width: 400px;
    height: 30px;
    border: 2px solid black;
    border-collapse:collapse;
}

table{
    color: green;
}

table th{
    color: red;
}

table strong{
    color: orange;
}


table>caption{
    color: blue;
}

table .especial{
    color: orange;
}

th+th{
    color: red ;
}


/*FIN TABLA*/



/*Segundo Parrafo*/

#adicional{
    color: olive;
}

#adicional #especial{
    color: rgb(212, 136, 148);
}

#adicional a{
    color: rgb(48, 206, 48);
}

/*FIN Segundo Parrafo*/